h1 {
	font-family: 'Maiden Orange', cursive;
	font-size:4em;
	text-align:center;
	text-shadow:1px 1px 1px #000;
	color:#404040;
	margin-bottom:40px;
}

body{
	background-color:#F6F6F6;
	color:#2B2B2B;
	font-size:1.2em;
}

img {
 	display: block;
 	margin:auto auto 40px auto;
}

#form{
	display:block;
	margin:10px auto 40px auto;
	height:2em;
	width:20em;
	box-shadow: 0 6px 4px -4px #404040;
	border: 1px solid  #404040;
	border-radius: 10px;
	font-size:1.25em;
	/*remove unwated default outline*/
	outline:none;
}

#form:hover{
	transition:0.2s easy-in-out;
	border:1px solid  #a90329;
}


#button{

	width:8em;
	background:#2B2B2B;
	color:#F6F6F6;
	background:#2B2B2B;
	border-radius:5px;
	color:#F6F6F6;
	cursor: pointer;
	padding:1em;
	width:8em;
	/*align*/
	display:block;
	position:relative;
	margin:auto;
	/*Remove unwanted default settings*/
	border: 0;
}

#button:hover {
  transition: 0.2s ease-in-out;
  color:white;
background-image: linear-gradient(to bottom, #00D936 0%, #10A341 100%);
}


	.list {
  margin-left: 100px;
  overflow: hidden;
  	font-size:1.25em;
  	margin:auto;
}


.item{
	overflow:hidden;
	font-size:1.15em;
	border:2px solid gray;
	box-shadow: 0 6px 4px -4px #404040;
	width:16em;
	height:1.5em;
	text-align:center;
	padding:5px;
	margin-bottom:10px;
	outline:none;
	border-radius: 10px;
	position:relative;
	margin:auto;
	margin-top:10px;
}

.item:first-child{
	margin-top:30px;
}

.item:hover{
	  transition: 0.2s ease-in-out;
background: linear-gradient(to bottom, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%);
color:white;
}
h2,p{
	text-align:center;
}

